@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700&display=swap');

body {
    font-family: 'Nunito Sans', sans-serif;

}

.bd-example {
    position: relative;
    padding: .5rem .8rem;
    border: solid #dee2e6;
    border-width: 1px 0 0;
}

.alert-dark {
    background-color: #000;
    color: #fff;
}

.btn-closed {

    z-index: 2;

    background-color: #000;
    border: none;
}

.btn-closed i {
    color: #fff;
}

.alert {
    position: relative;
    padding: .8rem 1rem;
    border-radius: 0;
    border: none;
    margin-bottom: 0;
}

header .icon-header {
    font-size: 1.5rem !important;
    padding: 0 .5rem;
}

.btn-header:hover {
    cursor: pointer;
    text-decoration: none;
    background: #f3eeee;
    color: #000;
}

.box-shadow-customized {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

nav span {
    font-weight: 500;
}

@media (min-width: 768px) {
    .c-units {
        pointer-events: none;
        border: 3px solid #fff;
        background-color: #ff6000;
    }
}

.c-units {
    display: inline-block;
    overflow: hidden;
    padding: .25rem .5rem;
    font-size: .85rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #fff;
    border-radius: 20rem;
    background-color: #ff6000;
}

.categories {
    position: absolute;
    background-color: #fefefe;
    z-index: 2;
    transform: translateY(-40px);
    width: 230px;
    padding: 1rem;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    visibility: hidden;
    opacity: 0;
    transition: all .2s ease .2s, visibility .5s linear .2s;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.categories.menu--active {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
}

.btn-check:focus+.btn,
.btn:focus {
    outline: 0;
    box-shadow: none;
}


@media (max-width: 768px) {
    .logo-max {
        display: none;
    }

    .logo-min {
        display: block;
    }

}

@media (min-width: 768px) {
    .logo-min {
        display: none;
    }

    .logo-max {
        display: block;
    }

}



/* .fsize-13 {
    font-size: 13px;
} */

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0;
    padding-bottom: 0;
}


aside {
    overflow: auto;
    background-color: #fefefe;
    width: 320px;
    position: fixed;
    visibility: hidden;
    transform: translateX(100%);
    top: 0;
    right: 0;
    bottom: 0;
    transition: all .3s ease .3s, visibility .3s linear .3s;
    z-index: 33;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

aside .aside-header {
    display: flex;
    justify-content: space-between;
    padding: .8rem 1.5rem;
    font-size: 20px;
    font-weight: 700;
    border-bottom: 1px solid #909090;
}

.aside-cart--active {
    transform: translateX(0);
    visibility: visible;
    opacity: 1;
}

aside::-webkit-scrollbar {
    width: 8x;
}

aside::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 5px;
}

.close--cart {
    cursor: pointer;
}

.btn-pay {
    display: block;
    background-color: #ff6000;
    color: #fff;
    font-weight: 800;
}

.btn-pay:hover {
    background-color: #cc4d00;
    color: #fff;
}

.btn-trash {
    display: block;
    background-color: #000;
    color: #fff;
    font-weight: 800;
}

.btn-trash:hover {
    background-color: #1d1d1c;
    color: #fff;
}

aside .pay-title-text span {
    font-weight: 800;
    font-size: 1.2rem;
}

aside .pay-units-text span {
    font-size: .9rem;
    color: #737373;
    font-weight: 600;
}

aside .aside-body {
    position: relative;
    font-size: .8rem;
}

aside .aside-body i.uil.uil-multiply {
    position: absolute;
    bottom: 1rem;
    right: 2rem;
    font-size: 1rem;
    cursor: pointer;
    color: #737373;
}

.dropdown-item:focus,
.dropdown-item:hover {
    transition: .2s;
    background-color: #ff6000;
    color: #fff;
}

.img-product img {
    width: 64px;
    height: 64px;
}

.content-product .units-product {
    font-size: .8rem;
    color: #737373;
    font-weight: 700;
}

.alert-title {
    font-size: .8rem;
    font-weight: 700;
}

.bg-dark {
    background-color: #000 !important;
}


aside .item-from-cart:hover {
    background: #f3eeee;
}


ul.dropdown-menu.shadow.text-small.show{
    padding: 1rem!important;
}